<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.zzj.mapper.KaiLaiRoomMapper">
   <resultMap id="kaiLaiRoom" type="org.jeecg.modules.zzj.entity.KaiLaiRoom" >
        <result column="酒店名称" property="hotalName" jdbcType="VARCHAR"/>
        <result column="房间类型" property="type" />
        <result column="房间数量" property="number"/>
        <result column="房间描述" property="description"/>
        <result column="房间价格" property="price" jdbcType="VARCHAR"/>
        <result column="房间特点" property="features"/>
        <result column="价格代码" property="rateCode"/>
        <result column="包价" property="packages"/>
    </resultMap>
    <select id="SelectKaiLaiRoom" statementType="CALLABLE"  resultMap="kaiLaiRoom">
        EXEC Self_help_Search #{beginTime},#{endTime}
    </select>

    <select id="SelectRoomNameByType" statementType="CALLABLE"  resultType="org.jeecg.modules.zzj.entity.KaiLaiRoom">
        exec Self_help_Searchroomtype #{type}
    </select>

    <select id="HelpSearch" statementType="CALLABLE"  resultMap="kaiLaiRoom">
        exec Self_help_Search #{beginTime},#{endTime}
    </select>

</mapper>